@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #808080; /* Grey border color */
    background-color: transparent; /* Transparent background */
    pointer-events: none; /* Ensure the cursor does not interfere with other elements */
    z-index: 9999; /* Ensure the cursor appears on top of other elements */
    transition: transform 0.2s ease; /* Smooth transition for movement */
  }
  
  